.regist-foto-main {
    padding-top: 100px;
    background-image: url('./asset-regist-foto/Background\ Design\ --------------------------------------------\ \(2\).png');
}

.regist-foto-judul{
    text-align: center;
    margin: auto;
    padding: 100px 0px;
}

.regist-foto-judul h1{
    margin: 0;
    font-size: 150px;
   color: #A84209;
   font-family: 'poppins';
   font-weight: 700; 
   text-shadow: 3px 7px 2px rgba(0, 0, 0, 0.4);
   line-height: 1em;
}

.regist-foto-judul p {
    margin: auto;
    font-size: 25px;
    font-weight: 700;
    color: white;
    background-color: #A84209;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 18px;
    font-family: 'poppins';
}

.pembatas-foto-regis-img {
    background-image: url('./asset-regist-foto/Group\ 262.png');
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 54vh;
}

.regist-foto-bar {
    margin: auto;
    width: 40%;
    padding-bottom: 100px;
}

.regist-foto-bar h1{
    color: white;
    padding: 20px;
    border-radius: 20px;
    font-family: 'poppins';
    font-size: 25px;
    background: #DF6E1D;
}



.regist-foto-bar h2{
    margin: 20px 0 5px;
    color: #914600;
    font-family: 'poppins';
}

.form-foto{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: none;
    font-size: large;
    padding: 0px 20px;
    font-family: "Poppins";
}

.regist-foto-button {
    display: flex;
    justify-content:space-between;
    width: 100%;
}

.regist-foto-button button {
    margin: 20px;
    font-family: 'poppins';
    font-size: large;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    width: 150px;
    color: white;
    background-color: #FF8A1F;
    aspect-ratio: 4/1.2;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

.regist-foto-button button:hover{
    transform: scale(1.1);
}

.regist-foto-error-msg {
    font-size: 1.4em;
    font-family: 'poppins';
    font-style: bold;    
    color: red;
    padding:     5px;
    border-radius: 5px;        
    z-index: 2;
}

.star {
    color: red;
}

.deskripsi-form-foto {
    height: 200px;
    width: 100%;
    border-radius: 8px;
    border: none;
    font-size: large;
    padding: 10px 20px;
    text-align: justify;
    font-family: "Poppins";
}


.form-foto-file {
    width: 100%;
    border-radius: 8px;
    border: none;
    font-size: large;
    padding: 0px 20px;
}

input[type="file"] {
    outline: none;
    padding: 20px;
    margin: -4px;
  }
  
  input[type="file"]:focus-within::file-selector-button,
  input[type="file"]:focus::file-selector-button {
    outline: 2px solid #0964b0;
    outline-offset: 2px;
  }
  
  input[type="file"]::before {
    top: 30px;
  }
  
  input[type="file"]::after {
    top: 28px;
  }
  
  /* ------- From Step 2 ------- */
  
  input[type="file"] {
    position: relative;
  }
  
  input[type="file"]::file-selector-button {
    width: 136px;
    color: transparent;
  }
  
  /* Faked label styles and icon */
  input[type="file"]::before {
    position: absolute;
    pointer-events: none;
    left: 56px;
    color: #0964b0;
    content: "Upload File";
  }
  
  input[type="file"]::after {
    position: absolute;
    pointer-events: none;
    left: 29px;
    height: 20px;
    width: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
  }
  
  /* ------- From Step 1 ------- */
  
  /* file upload button */
  input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
    border-radius: 9px;
  }
  
  /* file upload button hover state */
  input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
  }
  
  /* file upload button active state */
  input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
  }
  


@media only screen and (max-width: 500px) {
    .regist-foto-main {
        padding-top: 50px;
    }
    
    .regist-foto-judul{
        text-align: center;
        margin: auto;
        padding: 50px 0px;
    }
    
    .regist-foto-judul h1{
        margin: 0;
        font-size: 50px;
       color: #A84209;
       font-family: 'poppins';
       font-weight: 700; 
       text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.4);
       line-height: 1em;
    }
    
    .regist-foto-judul p {
        margin: auto;
        font-size: 15px;
        font-weight: 700;
        color: white;
        background-color: #A84209;
        width: fit-content;
        padding: 5px 20px;
        border-radius: 18px;
        font-family: 'poppins';
    }
    
    .pembatas-foto-regis-img {
        height: 15vh;
    }
    
    .regist-foto-bar {
        margin: auto;
        width: 50%;
        padding-bottom: 100px;
    }
    
    .regist-foto-bar h1{
        padding: 10px;
        border-radius: 10px;
        font-size: 12px;
    }
    
    .regist-foto-bar-checklist {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: auto;    
    }
    
    
    
    .regist-foto-bar h2{
        font-size: 12px;
        margin: 10px 0 2px;
        color: #914600;
        font-family: 'poppins';
    }
    

    
    .regist-foto-button {
        display: flex;
        justify-content:space-between;
        width: 100%;
    }
    
    .regist-foto-button button {
        margin: 30px 10px;
        font-family: 'poppins';
        font-size: 12px;
        font-weight: 700;
        border: none;
        border-radius: 7px;
        width: 75px;
        color: white;
        background-color: #FF8A1F;
        aspect-ratio: 4/1.2;
    } 

    .regist-foto-error-msg {
        font-size: 0.4em;
        font-family: 'poppins';
        font-style: bold;    
        color: red;
        padding:     5px;
        border-radius: 5px;        
        z-index: 2;
    }

    .form-foto-file {
        width: 100%;
        border-radius: 8px;
        border: none;
        font-size: small;
        padding: 0px 0px;
    }
    
    input[type="file"] {
        outline: none;
        padding: 20px;
        margin: -4px;
      }
      
      input[type="file"]:focus-within::file-selector-button,
      input[type="file"]:focus::file-selector-button {
        outline: 2px solid #0964b0;
        outline-offset: 2px;
      }
      
      input[type="file"]::before {
        top: 30px;
      }
      
      input[type="file"]::after {
        top: 30px;
      }
      
      /* ------- From Step 2 ------- */
      
      input[type="file"] {
        position: relative;
      }
      
      input[type="file"]::file-selector-button {
        width: 80px;
        color: transparent;
      }
      
      /* Faked label styles and icon */
      input[type="file"]::before {
        position: absolute;
        pointer-events: none;
        left: 43px;
        color: #0964b0;
        content: "Upload File";
        font-size: 10px;
      }
      
      input[type="file"]::after {
        position: absolute;
        pointer-events: none;
        left: 29px;
        height: 10px;
        width: 10px;
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
      }
      
      /* ------- From Step 1 ------- */
      
      /* file upload button */
      input[type="file"]::file-selector-button {
        border-radius: 4px;
        padding: 0px;
        height: 30px;
        cursor: pointer;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.16);
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
        margin-right: 16px;
        transition: background-color 200ms;
        border-radius: 6px;
      }
      
      /* file upload button hover state */
      input[type="file"]::file-selector-button:hover {
        background-color: #f3f4f6;
      }
      
      /* file upload button active state */
      input[type="file"]::file-selector-button:active {
        background-color: #e5e7eb;
      }

}