/*Login*/
.Login {
    text-align: center;
    background-color: #7ED7F4;
    margin: auto;
    padding-top: 200px;
}

.judul-login {
    color: #ffffff;
    margin: 0;

}

.judul-login h1 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 70px;
    margin: auto;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.judul-login h2{
    font-size: 60px;
    font-family: 'Poppins';
    font-weight: 700;
    margin: auto;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.form-login {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    font-family: 'Poppins';
    font-weight: 700;
}

.form-login label {
    text-align: left;
    font-size: 20px;
    padding-top: 20px;
}

.form-login input {
    height: 45px;
    border-radius: 15px;
    border: solid 3px #000;
    font-size: 20px ;
    padding: 0px 20px;
}

.button-login {
    padding: 30px 0px;
}

.button-login p {
    text-align: center;
}

.confirm{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    height: 45px;
    width: 100%;
    border-radius: 15px;
    border: solid 3px #000;
    background-color: #EA7000;
    color: #ffffff;
}

.notToday {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    height: 45px;
    border-radius: 15px;
    border: solid 3px #000;
    width: 100%;
    background-color: #ffffff;
    color: #EA7000;

}


/*SignUp*/
.SignUp {
    text-align: center;
    background-color: #7ED7F4;
    margin: auto;
    padding-top: 200px;
}

.judul-signup {
    color: #ffffff;
    margin: 0;

}

.judul-signup h1 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 70px;
    margin: auto;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.form-signup {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: auto;
    font-family: 'Poppins';
    font-weight: 700;
}

.form-signup label {
    text-align: left;
    font-size: 20px;
    padding-top: 20px;
}

.form-signup input {
    height: 45px;
    border-radius: 15px;
    border: solid 3px #000;
    font-size: 20px ;
    padding: 0px 20px;
}
.city-login {
    position: relative;
    width: 100%;
    height: auto;
    top: 10px;
}

@media only screen and (max-width: 415px) {
    /*Login*/
    
    .Login {
        padding-top: 100px;
    }
    
    .judul-login h1 {
        font-size: 35px;
        margin: auto;
    }
    
    .judul-login h2{
        font-size: 30px;
        font-family: 'Poppins';
        font-weight: 700;
        margin: auto;
    }

    .form-login {
        width: 250px;
    }

    .form-login label{
        font-size: 10px;
    }

    .form-login input {
        height: 30px;
        border-radius: 9px;
        border: solid 3px #000;
        font-size: 12px ;
        padding: 0px 10px;
    }

    .confirm{
        font-size: 10px;
        height: 30px;
        border-radius: 9px;
        border: solid 3px #000;
    }
    
    .notToday {
        font-size: 10px;
        height: 30px;
        border-radius: 9px;
        border: solid 3px #000;
    
    }

    /*SingUp*/
    
    .SignUp {
        padding-top: 100px;
    }

    .form-signup {
        width: 250px;
    }

    .judul-signup h1 {
        font-size: 35px;
        margin: 10px auto;
        text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    }

    .form-signup label{
        font-size: 10px;
    }

    .form-signup input {
        height: 30px;
        border-radius: 9px;
        border: solid 3px #000;
        font-size: 12px ;
        padding: 0px 10px;
    }

}