@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Poppins:wght@800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
  background-color: black;
  background-image: url(./Image/Background.jpg);
  background-size: cover;
}

/*  PAGE 1  */

.Page1_Ab {
  height: 100vh;
}

.containerP1_Ab {
  display: flex;
  position: relative;
  justify-content: center;
  top: 30%;
}

.logoTF_Ab {
  width: 25%;
}

.textP1_Ab {
  position: relative;
  margin-left: 50px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  line-height: 0px;
}

.tfP1_Ab {
  font-size: 100px;
  color: #F7FFF9;
  text-shadow: 3px 5px 0px rgba(0, 0, 0, 0.304);
  
}

.its_Ab {
  font-size: 33px;
  color: #0010D4;
  font-weight: bolder;
}

a.butExp_Ab {
  position: relative;
  top: 80px;
  font-size: 13px;
  font-weight: 100;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  background-color: #23BC44;
  border-radius: 10px;
  padding: 13px 23px;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
}

/*  PAGE 2  */ 

.Page2_Ab {
  height: 100vh;
}

.containerP2_Ab {
  display: flex;
  position: relative;
  justify-content: center;
  top: 20%;
}

.foto1_Ab {
  position: relative;
  width: 45%;
  left: 50px;
}

.textP2_Ab {
  position: relative;
  font-family: 'Poppins', sans-serif;
  text-align: end;
  right: 50px;
  padding: 0px 60px;
}

.tfP2_Ab {
  font-size: 90px;
  color: #075827;
  text-shadow: 3px 5px 0px rgba(0, 0, 0, 0.304);
  line-height: 0px;
}

.apaItu_Ab {
  position: relative;
  font-size: 30px;
  color: #ffffff;
  background-color: #BA3517;
  border-radius: 25px;
  padding: 6px 15px 6px 15px;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
}

.textPanjangP2_Ab {
  color: #373737;
  text-align: justify;
  font-weight: 700;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.104);
}

.txtOren_Ab {
  color: #F27D00;
}
/*  PAGE 3  */  

.Page3_Ab {
  height: 100vh;
}

.containerP3_Ab {
  display: flex;
  position: relative;
  top: 20%;
}

.foto2_Ab {
  width: 40%;
}

.textP3_Ab {
  position: relative;
  font-family: 'Poppins', sans-serif;
  margin: 30px;
  top: -30px;
  left: 30px;
}

.BidMin_Ab {
  font-size: 90px;
  color: #2B5D7D;
  text-shadow: 3px 5px 0px rgba(0, 0, 0, 0.304);
  line-height: 0px;
  margin-bottom: 50px;
}

.tfP3_Ab {
  position: absolute;
  font-size: 30px;
  color: #ffffff;
  background-color: #FF8C12;
  border-radius: 25px;
  padding: 6px 15px 6px 15px;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
  margin: 0px;
}

.textPanjangP3_Ab {
  position: relative;
  top: 80px;
  color: #373737;
  text-align: justify;
  font-weight: 700;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.104);
  padding-right: 40px;
}

.limaBidang_Ab {
  position: relative;
  top: 80px;
}

.bidangDua_Ab {
  position: relative;
  left: 150px;
}

.duaBidang_Ab {
  position: relative;
  display: flex;
  left: 100px;
}

.bidangLima_Ab {
  position: relative;
  left: 250px;
}


.Page4_Ab {
  height: 110vh;
}

.containerP4_Ab {
  position: relative;
  top: 15%;
}
.textP4_Ab {
  position: relative;
  font-family: 'Poppins', sans-serif;
  text-align: end;
  padding: 0px 70px;
  right: 0;
}

.textLab_Ab {
  font-size: 90px;
  color: #FA8406;
  text-shadow: 3px 5px 0px rgba(0, 0, 0, 0.304);
  line-height: 0px;
}

.tfP4_Ab {
  font-size: 30px;
  color: #ffffff;
  background-color: #48545D;
  border-radius: 25px;
  padding: 6px 15px 6px 15px;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
}

.textPanjangP4_Ab {
  color: #373737;
  text-align: justify;
  font-weight: 700;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.104);
  padding-left: 500px;
}

/* Slider */

.container-slider{
  margin: 35px 100px;
  
}

.slide-container{
  max-width: 1120px;
  height: 50px;
  background-color: transparent;
  position: relative;
  text-align: center;
}

.slide-content {
  margin: 0 20px;
}

.card{
  border-radius: 30px;
  background: #48545D;
}

.image-content, .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content, .card-contentfohan{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #446EA5;
  border-radius: 25px 25px 0 0;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-imagevib {
  position: relative;
  max-width: 100%;
  padding: 40px 20px 45px 20px;
}

.card-imagevib .card-imgvib {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-imageecs {
  position: relative;
  max-width: 100%;
  padding: 10px;
  padding-bottom: 8px;
}

.card-imageecs .card-imgecs {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.nama-lab {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}


.button {
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
