
.foot {
    background-color: #48545D;
    height: auto;
    z-index: 0;
}

.footer-container {
    display: flex;
    margin: auto;
    position: relative;
    width: 80%;
    padding: 40px 50px;
    border-bottom: solid 2px white;
    justify-content: space-between; 
}

.footer-brand {
    padding-right: 100px;
    border-right: solid white;
    text-align: center;
    color: white;
}

.footer-logo {
    width: 170px;
}

.footer-main {
    display: flex;
    color: white;
    
}

.footer-main h1{
    
    font-size: 25px;
   text-decoration: underline;
}

.footer-main li {
    position: relative;
    right: 48px;
   list-style-type: none;
    font-size: 25px;
    line-height: 1.7rem;
    padding-left: 0px;
}

.footer-main li:hover{
    color: black;
}

.hover {
    text-decoration: none;
    color: white;
}
 
.hover:hover {
    color:  black;
    
}

.footer-sosmed {
    padding-left: 50px;

}

.sosmed {
    display: flex;
}

.sosmed a{
    padding: 10px;
    color: white;
    font-size: 25px;
}

.sosmed a:hover{

    color: white;
}



.footer-sub{
    color: white;
    margin: auto;
    width: 80.6%;
    bottom: 10px;
}

.footer-cr {
    padding-bottom: 10px;
}


@media only screen and (max-width: 1356px){
    .foot {
        background-color: #48545D;
        height: auto;
        z-index: 0;
    }
    
    .footer-container {
        display: flex;
        margin: auto;
        position: relative;
        width: 80%;
        padding: 40px 50px;
        border-bottom: solid 2px white;
        justify-content: space-between; 
    }
    
    .footer-brand {
        padding-right: 100px;
        border-right: solid white;
        text-align: center;
        color: white;
    }
    
    .footer-logo {
        width: 170px;
    }
    
    .footer-main {
        display: flex;
        color: white;
        width: 40%;
    }
    
    .footer-main h1{
        
        font-size: 25px;
       text-decoration: underline;
    }
    
    .footer-main li {
        position: relative;
        right: 48px;
       list-style-type: none;
        font-size: 18px;
        line-height: 1.7rem;
        padding-left: 0px;
    }
    
    .footer-main li:hover{
        color: black;
    }
    
    .hover {
        text-decoration: none;
        color: white;
    }
     
    .hover:hover {
        color:  black;
        
    }
    
    .footer-sosmed {
        padding-left: 50px;
       
    }
    
    .sosmed {
        display: flex;
    }
    
    .sosmed a{
        padding: 10px;
    }
    
    
    .footer-sub{
        color: white;
        margin: auto;
        width: 80.6%;
        bottom: 10px;
    }

    .footer-cr {
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 1130px){
    
}

@media only screen and (max-width: 1040px){
    .foot {
        background-color: #48545D;
        height: 400px;
        z-index: 0;
    }
    
    .footer-container {
        display: flex;
        margin: auto;
        position: relative;
        width: 80%;
        padding: 40px 50px;
        border-bottom: solid 2px white;
        justify-content: space-between; 
    }
    
    .footer-brand {
        padding-right: 100px;
        border-right: solid white;
        text-align: center;
        color: white;
    }
    
    .footer-logo {
        width: 170px;
    }
    
    .footer-main {
        display: flex;
        color: white;
        flex-direction: column;
    }
    
    .footer-main h1{
        text-align: end;
        font-size: 25px;
       text-decoration: underline;
    }
    
    .footer-main li {
        position: relative;
        right: 0px;
       list-style-type: none;
        font-size: 18px;
        line-height: 1.7rem;
        padding-left: 0px;
    }
    
    .footer-main li:hover{
        color: black;
    }
    
    .hover {
        text-decoration: none;
        color: white;
    }
     
    .hover:hover {
        color:  black;
        
    }
    
    .footer-event{
        text-align: end;
    }

    .footer-sosmed {
        padding-left: 0px;
    }
    
    .sosmed {
        display: flex;
        justify-content: end;
    }
    
    .sosmed a{
        padding: 10px 0px 10px 20px;
    }
    
    
    .footer-sub{
        color: white;
        margin: auto;
        width: 80.6%;
        bottom: 10px;
    }   
}

@media only screen and (max-width: 850px){
    .foot {
        background-color: #48545D;
        height: auto;
        z-index: 0;
    }
    
    .footer-container {
        display: flex;
        flex-direction: column;
        margin: auto;
        position: relative;
        width: 80%;
        padding: 20px 10px;
        border-bottom: solid 2px white;
        justify-content: space-between; 
    }
    
    .footer-brand {
        border-right: 0;
        text-align: start;
        padding: 0;
    }

    .footer-brand h1{
        font-size: 35px;
        width: 100%;
        margin: 0;
    }
    
    .footer-logo {
        width: 170px;
    }
    
    .footer-main {
        position: relative;
        top: 20px;
        display: flex;
        color: white;
        flex-direction: column;
        width: 100%;
    }
    
    .footer-main h1{
        text-align: start;
        font-size: 20px;
       text-decoration: underline;
    }
    
    .footer-main li {
        position: relative;
        text-align: start;
        right: 0px;
       list-style-type: none;
        font-size: 18px;
        line-height: 1.7rem;
        padding-left: 0px;
    }
    
    .footer-main li:hover{
        color: black;
    }
    
    .hover {
        text-decoration: none;
        color: white;
    }
     
    .hover:hover {
        color:  black;
        
    }
    
    .footer-event ul{
        text-align: end;
        padding-left: 0;
    }

    .footer-sosmed {
        padding-left: 0px;
        
    }
    
    .sosmed {
        display: flex;
        padding-left: 0;
        justify-content: start;
    }
    
    .sosmed a{
        padding: 10px 20px 10px 0px;
    }
    
    
    .footer-sub{
        color: white;
        margin: auto;
        width: 80.6%;
        bottom: 10px;
    }  

    .footer-cr {
        padding-bottom: 10px;
    }   
}

@media only screen and (max-width: 645px){
    .footer-cr {
        padding-bottom: 10px;
        font-size: 12px;
    }   
}

@media only screen and (max-width: 508px){
    
}

@media only screen and (max-width: 390px){
    .foot {
        background-color: #48545D;
        height: auto;
        z-index: 0;
    }
    
    .footer-container {
        display: flex;
        flex-direction: column;
        margin: auto;
        position: relative;
        width: 80%;
        padding: 40px 10px 20px;
        border-bottom: solid 2px white;
        justify-content: space-between; 
    }
    
    .footer-brand {
        border-right: 0;
        text-align: start;
        padding: 0;
    }

    .footer-brand h1{
        font-size: 25px;
        width: 100%;
        margin: 0;
    }
    
    .footer-logo {
        width: 100px;
    }
    
    .footer-main {
        position: relative;
        top: 20px;
        width: 100%;
        display: flex;
        color: white;
        flex-direction: column;
    }
    
    .footer-main h1{
        text-align: start;
        font-size: 15px;
       text-decoration: underline;
    }
    
    .footer-main ul{
        margin: auto;
    }

    .footer-main li {
        position: relative;
        text-align: start;
        right: 0px;
       list-style-type: none;
        font-size: 12px;
        line-height: 1rem;
        padding-left: 0px;
    }
    
    .footer-main li:hover{
        color: black;
    }
    
    .hover {
        text-decoration: none;
        color: white;
    }
     
    .hover:hover {
        color:  black;
        
    }
    
    .footer-event ul{
        text-align: end;
        padding-left: 0;
    }

    .footer-sosmed {
        padding-left: 0px;
    
    }
    
    .footer-sosmed h1{
        width: 100%;
    }

    .sosmed {
        display: flex;
        padding-left: 0;
    }

    .sosmed a {
        padding: 0px 10px 0px 0px;
        font-size: 15px;
    }

    .footer-sub{
        color: white;
        margin: auto;
        width: 80.6%;
        bottom: 10px;
    }  

    .footer-cr {
        padding-bottom: 10px;
        font-size: 10px;
    }
}

