.container-notfound {
    width: 100%;
    height: 100vh;
    background-image: url(./asset/Page-Not-found-404-Ver-2.png);
    background-size: cover;
}

.notfound{
    padding: 200px;
    margin: auto;
    text-align: center;
}

.text-notfound{
    position: relative;
    bottom: 40px;
    font-family: "poppins";
}

.text-notfound p {
    color: #2E5B78;
    line-height: 0.5rem;
    font-weight:normal;
}

.text-notfound h1 {
    font-size: 120px;
    font-weight: 700;
    color: #2E5B78;
    line-height: 0.5rem;
    font-weight:normal;
}

.text-notfound h2 {
    font-size: 50px;
    font-weight: 900;
    color: #2E5B78;
    line-height: 0.5rem;
    font-weight:normal;
}
.text-notfound p {
    font-size: 20px;
    
}


.building {
    position: relative;
    top: 40px;
    width: 400px;
    aspect-ratio: 1/1;
}